@page
@model ExploreModel
@{
    ViewData["Title"] = "Explore Listings";
    Model.LoadListings();
}

<main class="form w-100 m-auto text-center container">
    <div style="margin-left: 12.5%; margin-right: 12.5%; margin-top: 5%;">
        <h1 class="display-6 fw-bold lh-1 mb-4" style="text-align:left;">Explore Listings</h1>

        <div class="listings">
            @foreach (Listing listing in Model.listings.Where(l => !l.IsHidden).Take(20))
            {
                string formattedAddress = ""; 
                @try {
                    formattedAddress = @listing.StreetAddress.Replace(' ', '+');
                } catch(Exception ex) {
                    // if it does not work, ie no address is given, it will default to the city
                }
                string website = "http://google.com/maps/dir/?api=1&destination=" + formattedAddress + "+" + @listing.City + "+" + @listing.State + "+" + @listing.ZIPCode;

                <div class="card mb-3" style="text-align:left;">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5 class="card-title mt-2" style="margin-left: 10px;">
                                @listing.StartDate.ToShortDateString() @listing.StartDate.ToShortTimeString() - @listing.EndDate.ToShortDateString() @listing.EndDate.ToShortTimeString()
                            </h5>
                        </div>
                        <div class="col-sm-5" style="text-align: right;">
                            <h6 class="card-subtitle mt-2">
                                Posted by @Model.userNames.GetValueOrDefault(listing.ListingId)
                            </h6>
                        </div>
                    </div>
                    <h6 class="card-subtitle mt-2" style="margin-left: 10px;">
                        @listing.StreetAddress, @listing.City, @listing.State @listing.ZIPCode
                    </h6>
                    <div class="card-body">
                        <strong>Description:</strong> 
                        @if (listing.Description.Length > 500)
                        {
                            @string.Format("{0}{1}", listing.Description.Substring(0, 496), "...")
                        }
                        else
                        {
                            @listing.Description
                        }
                    </div>
                    <div class="card-body" style="text-align: right; padding-top: 0rem;">
                        <a role="button" class="btn btn-dark btn-sm" href="@Url.Content("~/listing?id=" + listing.ListingId)">View</a>
                        //<a role="button" class="btn btn-dark btn-sm" href="@website">Route</a>
                    </div>
                </div>
            }
        </div>
    </div>
</main>