@page
@model MyListingsModel
@{
    ViewData["Title"] = "My Listings";

    // Ensure user is logged in, then either load listings or redirect page
    if (HttpContextAccessor.HttpContext.Session.GetString("_User") is not null)
    {
        Model.LoadListings();
    } else
    {
        Response.Redirect("/");
    }

}

<!-- Main form -->
<main class="form w-100 m-auto text-center container">
    <div style="margin-left: 12.5%; margin-right: 12.5%; margin-top: 5%;">
        <h1 class="display-6 fw-bold lh-1 mb-4" style="text-align:left;">My Listings</h1>
        <!-- Listings -->
        <div class="listings">
            @if (Model.listings is not null)
            {
                foreach (Listing listing in Model.listings)
                {
                    <div class="card mb-3" style="text-align:left;">
                        <h5 class="card-title mt-2" style="margin-left: 10px;">
                            @listing.StartDate.ToShortDateString() @listing.StartDate.ToShortTimeString() - @listing.EndDate.ToShortDateString() @listing.EndDate.ToShortTimeString() 
                            @if(listing.IsHidden) {
                                <span class="badge bg-dark">Hidden</span>
                            }
                        </h5>
                        <h6 class="card-subtitle mt-2" style="margin-left: 10px;">
                            @listing.StreetAddress, @listing.City, @listing.State @listing.ZIPCode
                        </h6>
                        <div class="card-body">
                            <strong>Description:</strong>
                            @if (listing.Description.Length > 500)
                            {
                                @string.Format("{0}{1}", listing.Description.Substring(0, 496), "...")
                            }
                            else
                            {
                                @listing.Description
                            }
                        </div>
                        <!-- Action button panel -->
                        <div class="card-body" style="text-align: right; padding-top: 0rem;">
                            @if (!listing.IsHidden) 
                            {
                                @Html.ActionLink("Hide", "ToggleHideListing", "Listing", new { listing.ListingId }, new {@class="btn btn-dark btn-sm", @role="button"})
                            } else
                            {
                                @Html.ActionLink("Unhide", "ToggleHideListing", "Listing", new { listing.ListingId }, new {@class="btn btn-dark btn-sm", @role="button"})
                            }
                            <a role="button" class="btn btn-dark btn-sm" href="@Url.Content("~/editlisting?id=" + listing.ListingId)">Edit</a>
                            <a role="button" class="btn btn-dark btn-sm" href="@Url.Content("~/listing?id=" + listing.ListingId)">View</a>
                        </div>
                    </div>
                }
                @if (Model.listings.Count() <= 0)
                {
                    // Message for users without listings
                    <h5 style="font-style: italic; margin-top: 50px; margin-bottom: 20px;">
                        No listings found...<a href="@Url.Content("~/AddListing")">add one today</a>.
                    </h5>
                }
            }
        </div>
    </div>
</main>