@page
@model SavedListingsModel
@{
    ViewData["Title"] = "Saved Listings";
    
    // Ensure user is logged in; if so, load saved lisings, else redirect
    if (HttpContextAccessor.HttpContext.Session.GetString("_User") is not null)
    {
        Model.LoadSavedListings();
    }
    else
    {
        Response.Redirect("/");
    }

}

<!-- Main form -->
<main class="form w-100 m-auto text-center container">
    <div style="margin-left: 12.5%; margin-right: 12.5%; margin-top: 5%;">
        <h1 class="display-6 fw-bold lh-1 mb-4" style="text-align:left;">Saved Listings</h1>
        <!-- Listings -->
        <div class="listings">
            @if (Model.listings is not null)
            {
                foreach (Listing listing in Model.listings)
                {
                    <div class="card mb-3" style="text-align:left;">
                        <div class="row">
                            <div class="col-sm-6">
                                <h5 class="card-title mt-2" style="margin-left: 10px;">
                                    @listing.StartDate.ToShortDateString() @listing.StartDate.ToShortTimeString() - @listing.EndDate.ToShortDateString() @listing.EndDate.ToShortTimeString()
                                    <span class="badge bg-success">Saved</span>
                                </h5>
                            </div>
                            <div class="col-sm-5" style="text-align: right;">
                                <h6 class="card-subtitle mt-2">
                                    Posted by @Model.db.Users.Where(u => u.UserId == listing.PosterId).SingleOrDefault().UserName
                                </h6>
                            </div>
                        </div>

                        <h6 class="card-subtitle mt-2" style="margin-left: 10px;">
                            @listing.StreetAddress, @listing.City, @listing.State @((listing.ZIPCode <= 10000 ? "0" : ""))@listing.ZIPCode
                        <div class="card-body">
                            <strong>Description:</strong>
                            @if (listing.Description.Length > 500)
                            {
                                @string.Format("{0}{1}", listing.Description.Substring(0, 496), "...")
                            }
                            else
                            {
                                @listing.Description
                            }
                        </div>
                        <!-- Action button panel -->
                        <div class="card-body" style="text-align: right; padding-top: 0rem;">
                            @Html.ActionLink("Unsave", "UnsaveListing", "Listing", new { listing.ListingId }, new {@class="btn btn-dark btn-sm", @role="button"})
                            <a role="button" class="btn btn-dark btn-sm" href="@Url.Content("~/listing?id=" + listing.ListingId)">View</a>
                        </div>
                    </div>
                }
                @if (Model.listings.Count() <= 0)
                {
                    <h5 style="font-style: italic; margin-top: 50px; margin-bottom: 20px;">
                        No listings found...<a href="@Url.Content("~/Explore")">explore to save more listings</a>.
                    </h5>
                }
            }
        </div>
    </div>
</main>