@page

@{
    ViewData["Title"] = "Team";
}

<!-- Main body -->
<h1 class="display-5 fw-bold text-center" style="margin: 2%;">Team Members</h1>
<div class="album py-5 bg-light">
	<div class="container">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
			<div class="col">
				<div class="card shadow-sm">
					<img class="card-image-top" src="@Url.Content("~/Images/team/ethan.png")"></img>
					<div class="card-body">
						<h4 class="card-text">Ethan Hubbell</h4>
						<div class="d-flex justify-content-between align-items-center" style="margin-top: 5%;">
							<div>
								<a href="https://www.facebook.com/ethan.hubbell.1/" target="_blank">
									<img src="images/icons/facebook.png" alt="facebook" width="20px" style="margin-right: 10px;"></img>
								</a>
								<a href="https://www.twitter.com/EthanHubbell" target="_blank">
									<img src="images/icons/twitter.png" alt="twitter" width="20px" style="margin-right: 10px;"></img>
								</a>
							</div>
							<small class="text-muted">hubbe1em@cmich.edu</small>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card shadow-sm">
					<img class="card-image-top" src="@Url.Content("~/Images/team/sam.png")"></img>
					<div class="card-body">
						<h4 class="card-text">Sam St John</h4>
						<div class="d-flex justify-content-between align-items-center" style="margin-top: 5%;">
							<div>
								<a href="https://www.linkedin.com/in/samuel-st-john-2573911a2/" target="_blank">
									<img src="images/icons/linkedin.png" alt="linkedin" width="20px" style="margin-right: 10px;"></img>
								</a>
							</div>
							<small class="text-muted">stjoh1sr@cmich.edu</small>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card shadow-sm">
					<img class="card-image-top" src="@Url.Content("~/Images/team/jake.png")"></img>
					<div class="card-body">
						<h4 class="card-text">Jake Besko</h4>
						<div class="d-flex justify-content-between align-items-center" style="margin-top: 5%;">
							<div>
								<a href="https://twitter.com/BeskoJake" target="_blank">
									<img src="images/icons/twitter.png" alt="twitter" width="20px" style="margin-right: 10px;"></img>
								</a>
							</div>
							<small class="text-muted">besko1jh@cmich.edu</small>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card shadow-sm">
					<img class="card-image-top" src="@Url.Content("~/Images/team/karl.png")"></img>
					<div class="card-body">
						<h4 class="card-text">Karl Tobianski</h4>
						<div class="d-flex justify-content-between align-items-center" style="margin-top: 5%;">
							<div>
								<a href="https://www.linkedin.com/in/karl-tobianski-a1a575253/" target="_blank">
									<img src="images/icons/linkedin.png" alt="linkedin" width="20px" style="margin-right: 10px;"></img>
								</a>
							</div>
							<small class="text-muted">tobia1k@cmich.edu</small>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card shadow-sm">
					<img class="card-image-top" src="@Url.Content("~/Images/team/dylan.png")"></img>
					<div class="card-body">
						<h4 class="card-text">Dylan Bauders</h4>
						<div class="d-flex justify-content-between align-items-center" style="margin-top: 5%; margin-bottom: 5px;">
							<div>
								<!-- social media -->
							</div>
							<small class="text-muted">baude2d@cmich.edu</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>